*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{

    width: 100%;
    height: 100%;
    background-color: #111;
    color: white;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view{
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.stroriyan{
    overflow-x: auto;
    padding: 1rem 0.3rem;
    display: flex;
    gap: 5px;
    white-space: nowrap;
    border-bottom: 1px solid rgb(214, 214, 214);
}
.stroriyan::-webkit-scrollbar{
    display: none;
}
.story{
    display: inline-block;
}

.story img{
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.full-page{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    display: none;
}